@page "/"
@inject Project.Models.UserState UserState

<PageTitle>Home</PageTitle>

@if (UserState.isSet())
{
    <h1>Welcome @UserState.getPatient().patientInfo.Name!</h1>
}
else
{
    <h1>Welcome! Choose profile bitch:)</h1>
}



Welcome to your new app.